[submodule "src/sensing/ublox"]
	path = src/sensing/ublox
	url = https://github.com/KumarRobotics/ublox.git
[submodule "src/sensing/velodyne"]
	path = src/sensing/velodyne
	url = https://github.com/ros-drivers/velodyne.git
[submodule "src/perception/localization/src/rosbag_to_csv"]
	path = src/perception/localization/src/rosbag_to_csv
	url = https://github.com/AtsushiSakai/rosbag_to_csv.git
